

  #headerLogo{
    background: url(https://images2.alphacoders.com/698/698137.jpg);
    background-size: cover;
    height: 250px;
    display: block;
    margin-top: 50px;
  }
  #text{
    color: white;
    position: absolute;
    text-align:center;
    font-size: 36px;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 250px;
  }
  .navbar{
    margin-bottom: 0px;
  }
  .fa{
    font-size:22px;
    color: #0077cd;
  }
  .fa:hover{
    color: #0890f2;
  }
  .footer{
    text-align: center;
    color: #c6c6c6;
  }
  #indexImage{
    width:100%;
    height: auto;
  }


