{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{% include 'header.html' %}{% endblock %}
{% block headerLogo %}{% include 'headerLogo.html' %}{% endblock %}
{% block styles %}{% include 'styles.html' %}{% endblock %}
{% block content %}
  <link rel="stylesheet" href="../css/contacts.css">
  <h1 class="display-1 well" align="center">Contacts</h1>
  <div class="container">
  	<div class="row">
      {%for key,val in contacts%}
          <div class="col-sm-6">
              <div class="business-card">
                  <div class="media">
                      <div class="media-left">
                        {% if val.img != null %}
                          <img class="media-object img-circle profile-img" src="{{val.img}}">
                        {% else %}
                          <img class="media-object img-circle profile-img" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
                        {% endif %}
                      </div>
                      <div class="media-body">
                          <h2 class="media-heading">{{val.name}}</h2>
                          <div class="job">{{val.job}}</div>
                          <div class="mail"><a href="mailto:{{val.mail}}">{{val.mail}}</a> </div>
                      </div>
                  </div>
              </div>
          </div>
      {% endfor %}
  	</div>
  </div>
{% endblock %}
