{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{% include 'header.html' %}{% endblock %}
{% block headerLogo %}{% include 'headerLogo.html' %}{% endblock %}
{% block styles %}{% include 'styles.html' %}{% endblock %}
{% block content %}
  <link rel="stylesheet" href="../css/imageModal.css">
  <h1 class="display-1 well" align="center">Projects</h1>
  <div class="container">
    {% for key, val in projects %}
      <div class="well row">
        <h1 class="well" align="center">{{val.name}}</h1>
        {% for k, v in val.images %}
          <div class="col-xs-4">
            <h5>{{v.title}}</h5>
            <img id="myImg" class="imageClass" src="{{v.src}}" alt="{{v.title}}" width="300" height="200">
          </div>
        {% endfor %}
        {% for k, v in val.videos %}
          <div class="col-xs-4">
            <h5>{{v.title}}</h5>
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/{{v.src}}?autoplay=1"><img id="myImg" class="img-responsive" src="http://img.youtube.com/vi/{{v.src}}/0.jpg" alt="{{val.title}}" width="300" height="200"/></a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div id="myModal" class="modal">
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  <script type="text/javascript" src="../js/fotoInModal.js"></script>
  <script type="text/javascript">
  	$(document).ready(function() {
  		$(".fancybox").fancybox();
  	});
    $(document).ready(function() {
    	$(".various").fancybox({
    		maxWidth	: 800,
    		maxHeight	: 600,
    		fitToView	: false,
    		width		: '70%',
    		height		: '70%',
    		autoSize	: false,
    		closeClick	: false,
    		openEffect	: 'none',
    		closeEffect	: 'none'
    	});
    });
  </script>
{% endblock %}
